# Django General Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=*

# Database Settings
# DB_ENGINE choices: django.db.backends.sqlite3, django.db.backends.mysql
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=complete_healthcare
DB_USER=root
DB_PASSWORD=your-database-password
DB_HOST=127.0.0.1
DB_PORT=3306
